body{
    font-family: tahoma,Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

#principal{
    width:1024px;
    margin: 20px auto; 
    
    
}
.header-top{
    height: 80px;
    background: #162028;
    position: relative;
    text-align: right;
    
    
}

.logotipo{
    margin: auto;
    position: absolute;
    left: 100px;
    top: 22px;

}


.topo{
    position: absolute;
    height: auto;
    width: auto;
}
.header-nav, ul, li, a{
    color: #425564;
    text-decoration: none;
    list-style-type: none;
    display: inline;
    padding: 5px;
    display: inline block;
    text-align: center;
    position: relative;
    top: 8px;
    text-transform: uppercase;
    transition: color 0.3s linear;
}

.header-nav, a:hover{
    color: white;

}


.portifolio h1 {
    width: 50%;
    margin: auto;
    font-size: 30px;
    padding-top: 600px;  
    position: relative;
    width: 60%;   
    color: #252525;
}

.portifolio p {
    line-height: 2.0;
}

.gallery{
    color: #555;
    padding: 0 100px 50px 100px;
    overflow: auto;
}

.gallery-card{
    width: 32%;
    float: left;
    text-align: center;
}

.gallery-title{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 16px;
    font-weight: bolder;
}

.about{
    background-color: #003d52;  
    padding: 100px;
    color: white; 
    background-image: url(imagens/bg_detalhe.png);
    background-repeat: no-repeat;   
    background-position: right bottom; 
}

.about p{
    line-height: 1.5;
    width: 70%;
}

.about h2{
    text-transform: uppercase;
    font-size: 50px;
    font-weight: normal;
}


#contact{
    margin: 50px 0;
}

#contact address{
    color: #143f52;
    text-transform: uppercase;
    font-size: 26px;
    font-style: normal;
    text-align: center;
    font-weight: bolder;
}

.maps{
    width: 100%;
    height: 450px;
    margin-top: 15px;
}

.rodape{
    background: #0b171f;
    padding: 25px ;
    font-size: 12px;
    color: #6f8597;
    letter-spacing: 5px;
    text-align: center;
    margin-top: 30px;
}